{% extends 'core/base.html' %}

{% block content %}
    {% for post in object_list %}
        <p>postss</p>
        <div class="post">
            <div class="date">
                {{ post.created_at }}

            </div>

           <h1><a href="{% url 'posts:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.description|linebreaksbr }}</p>
        <p> {{ post.category_post}}</p>
        </div>



{#        {% for tag in post.categories %}#}
{#            <div class = "tags">#}
{#            <h1><a href="{% url 'tags:tag_detail' pk=tag.pk %}">{{ tag.title }}</a></h1>#}
{#            </div>#}
{#        {% endfor %}#}
    {% endfor %}

     <a href="{% url "main" %}">Main page</a>




{% endblock %}